{% extends "base_home.html" %}

{% load static %}

{% block page_style %}
	<link rel="stylesheet" type="text/css" href="{% static 'lib/Fixed-Header-Table_1.3/css/defaultTheme.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'lib/leaflet-0.6.4/leaflet.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sandbar_custom.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sandbar_home_custom.css' %}" />
{% endblock page_style %}

{% block page_script %}
	<script type="text/javascript" src="{% static 'lib/Fixed-Header-Table_1.3/jquery.fixedheadertable.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/leaflet-0.6.4/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/SiteMarker.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/leaflet.ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/isotope-2.0.0/isotope.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/imagesLoaded-3.1.8/imagesloaded.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tight-bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/SandbarHomeMap.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endblock page_script %}


{% block page_content %}
	<h2 id="homepage-title">Grand Canyon Sandbar Monitoring</h2>
	<div id="content" class="row">
		<input type="hidden" id="geojson_sites" name="geojson_sites_url" value="{% url 'gjson_sites' %}" readonly>
		<div id="sandbar-intro" class="col-md-4 item">
			<div class="sectionWideTitle">Introduction</div>
			<div  id='intro-text' class="well full">
			<p>
			Since the completion of Glen Canyon Dam in 1963, the amount of sand supplied to Grand Canyon National Park has been reduced by more than 90 percent. 
			The Paria River, a tributary to the Colorado River 15 miles downstream from the dam, is now the single most important supplier of sand to the Colorado River within the Park. 
			This large reduction in sand supply has resulted in substantial decrease in the number and size of sandbars. Sandbars are important because they serve as campsites for 
			river runner and hikers, provide important aquatic and riparian habitats, and are the source of sand that may help protect archaeological sites. The information collected 
			by this project will be used to determine whether dam operations, including short-duration artificial floods, cause increases or decreases in sandbars and associated 
			campsites in Grand Canyon National Park.
			</p>
			</div>
		</div>
		<div id="sandbar-monitoring"class="col-md-4 item">
			<div class="sectionWideTitle">The Sandbar Monitoring Data</div>
			<div id="sites-map-div" class="well full">
				<div id="monitoring-text">
					<p>
					Currently, topographic maps are made at a set of monitoring sites annually using conventional survey equipment. 
					These surveys are used to calculate the size of each sandbar in terms of the area of exposed sand and the volume 
					of sand contained in the bar. Both of these calculations are relative to an elevation of interest.				
					</p>
				</div>
				<!-- <div id="sites-map-home"></div> -->
				<br/>
				<div id="sandbar-home-img">
					<img style="width:100%;" src="{% static 'sandbar_photos/SB0351L_2013_0923_183839_Crop_1000.JPG' %}">
					<br/>
					<br/>
					<img style="width:100%;" src="{% static 'sandbar_photos/SB0651R_2012_1009_115407_Crop_1000.JPG' %}">
				</div>
			</div>
		</div>
		<div id="sandbar_data" class="col-md-4 item">
			<div class="sectionWideTitle">View Sandbar Monitoring Data</div>
			<div id="sandbar_data_links" class="well full">
				<div id="sites-map-home"></div>
				<h4>Sandbar Surveys</h4>
					<ul>
						<li><a href="{% url 'surveys-site_list' %}">Survey Data</a></li>
					</ul>
				<h4>Photos</h4>
					<ul>
						<li><a href="http://www.gcmrc.gov/gis/sandbartour2012/index.html?">Photos showing results of 2012 high-flow</a></li>
						<li><a href="http://www.gcmrc.gov/gis/sandbartour2013/index.html?">Photos showing results of 2013 high-flow</a></li>
						<li><a href="http://www.gcmrc.gov/gis/sandbartour2014/index.html?">Photos showing results of 2014 high-flow</a></li>
					</ul>
			</div>
		</div>
		<div class="col-md-4 item">
			<div class="sectionWideTitle">For Additional Information</div>
			<div class="well half">
				<span>For additional information, please contact</span>
				<div class="media">
					<div class="media-body">
						<h5 class="media-heading credit-header">Project Chief</h5>
						<ul class="list-unstyled">
							<li>
								Paul Grams
								<ul>
									<li>USGS Southwest Biological Science Center</li>
									<li>Grand Canyon Monitoring Research Center</li>
									<li>
										Contact
										<a href="mailto:pgrams@usgs.gov">pgrams@usgs.gov</a>
										or (928)-556-7385
									</li>
								</ul>					
							</li>
						</ul>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h5 class="media-header credit-header">Database Designer/Programmer</h5>
						<ul class="list-unstyled">
							<li>Kathryn Schoephoester
								<ul>
									<li>USGS Center for Integrated Data Analytics</li>
								</ul>	
							</li>
						</ul>
					</div>
				</div>
				<div class="media">
					<a class="pull-left" href="http://cida.usgs.gov/">
						<img class="media-object" src="{% static 'images/source-cida.gif' %}">
					</a>
					<div class="media-body">
						<h5 class="media-heading credit-header">Website Design and Programming</h5>
						<ul class="list-unstyled">
							<li>USGS Center for Integrated Data Analytics</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="sectionWideTitle">Terms of Use</div>
			<div class="well half">
				<p>
					The data presented in this website are collected 
					and processed using standard USGS protocols 
					and other established peer-reviewed methods, 
					and subject to rigorous quality control.  
					Nevertheless, minor edits of these data are 
					possible.
				</p>
				<p>
					The data are released on the condition that neither the USGS 
					nor the U.S. Government may be held liable for any damages 
					resulting from its authorized or unauthorized use.
				</p>
			</div>
		</div>
		<div class="col-md-4 item">
			<div class="sectionWideTitle">References</div>
			<div class="well full">
				<div class="media">
					<div class="media-body">
						<h5 class="media-heading credit-header">Methods</h5>
							<ul>
								<li>
									Hazel, J.E., Jr., Grams, P.E., Schmidt, J.C., and Kaplinski, M., 2010, Sandbar response in Marble and Grand Canyons, Arizona, 
									following the 2008 high-flow experiment on the Colorado River: U.S. Geological Survey Scientific Investigations Report 2010&#8211;5015, 52 p. 
									<a href="http://pubs.usgs.gov/sir/2010/5015/">http://pubs.usgs.gov/sir/2010/5015/</a>.									
								</li>
							</ul>	
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h5 class="media-heading credit-header">Recent Publications</h5>
							<ul>
								<li>
									Grams P. E., 2013, A sand budget for Marble Canyon, Arizona -- implications for long-term
									monitoring of sand storage change, U.S. Geological Survey Fact Sheet 2013&#8211;3074, 4p.,
									<a href="http://pubs.usgs.gov/fs/2013/3074">http://pubs.usgs.gov/fs/2013/3074</a>.
								</li>
								<li>
									Grams P. E., D. J. Topping, J. C. Schmidt, J. E. Hazel Jr., and M. Kaplinski, 2013, Linking morphodynamic
									response with sediment mass balance on the Colorado River in Marble Canyon: Issues of scale, geomorphic setting,
									and sampling design, J. Geophys. Res. Earth Surf., 118, 361&#8211;381, doi:10.1002/jgrf.20050.
									<a href="http://onlinelibrary.wiley.com/doi/10.1002/jgrf.20050/full">http://onlinelibrary.wiley.com/doi/10.1002/jgrf.20050/full</a>
								</li>							
							</ul>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h5 class="media-heading credit-header">Full Publication List</h5>
							<ul>
								<li>
									<a href="{% static 'pub_list/PubsList.pdf'%}">Full Publications</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 item">
			<div class="sectionWideTitle">Cooperating Agencies and Academic Institutions</div>
			<div class="well half">
				<div class="media">
					<a href="http://www.usbr.gov/">
						<div class="media-object pull-left" style="width:106px; text-align:center;">
							<img src="{% static 'images/source-usbr.gif' %}">
						</div>
						<div class="media-body">
							<h4 class="media-heading link-text">Bureau of Reclamation</h4>
						</div>
					</a>
				</div>
				<div class="media">
					<a href="http://www.nps.gov/">
						<div class="media-object pull-left" style="width:106px; text-align:center;">
							<img src="{% static 'images/source-nps.gif' %}">
						</div>
						<div class="media-body">
							<h4 class="media-heading link-text">National Park Service</h4>
						</div>
					</a>
				</div>
				<div class="media">
					<a href="https://www.nau.edu">
						<div class="media-object pull-left" style="width:106px; text-align:center;">
							<img style="width:100%;" src="{% static 'images/NAU_PrimH-transparent.png' %}">
						</div>
						<div class="media-body">
							<h4 class="media-heading link-text">Northern Arizona University</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="sectionWideTitle">Cooperating USGS Water Science Centers</div>
			<div class="well half">
				<div class="media">
					<a href="http://az.water.usgs.gov/">
						<div class="media-body">
							<h4 class="media-heading link-text">Arizona Water Science Center</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
		

{% endblock page_content %}