{% extends "base.html" %}

{% load js %}

{% block title %}Sandbar - {{ site.site_name }}{% endblock %}

{% block page_description %}
	Provides data and plotting tools for sandbar {{ site.site_name }} located at 
	river mile {{ site.river_mile }}
{% endblock %}

{% block page_style %}
	{% css "css/sandbar_custom.css" %}
{% endblock %}

{% block page_script %}
	<script type="text/javascript">
		var SB = {};
		SB.GDAWS_SERVICE = '{% url "surveys-gdaws" op="" %}';
		SB.GDAWS_SERVICE = SB.GDAWS_SERVICE.slice(0, SB.GDAWS_SERVICE.length - 1);
		SB.AREA_2D_URL = '{% url "surveys-areavolume" %}' ;
	</script>
	
	<script type="text/javascript">
		var PAGE_URL = window.location.pathname;
		//var SITE_ID = PAGE_URL.split('/')[3];
		
	</script>
	
 	{% js "lib/modernizr.custom.45705.js" %}
	{% js "lib/webshims-stable/js-webshim/minified/polyfiller.js" %}
	{% js "lib/dygraph-combined.js" %}
	{% js "lib/jquery-validation-1.11.1/dist/jquery.validate.min.js" %}
	{% js "lib/mustache.js-master/mustache.js" %}
	
	
	{% js "js/Config.js" %}
	{% js "js/DateRange.js" %}
	{% js "js/GDAWSFormatUtils.js" %}
	
	{% js "js/SitePlots.js" %}
	{% js "js/TSPlots.js" %}
	{% js "js/SitePageOnReady.js" %}
	
	<script type="text/javascript">
		$.webshims.polyfill();		
				
		$(document).ready(function() {
			SB.SitePageOnReady("{{ site.gdaws_site_id }}", "{{ site.id }}");
		});
	</script>
	
	<!-- HTML Templates -->
	{% verbatim %}
	<script id="param_template" type="text/html">
		<div class="parameter-group">
			<input id="{{paramName}}-checkbox" type="checkbox" value="{{paramName}}" />
			<label for="{{paramName}}-checkbox" title="{{description.units}}">{{description.displayName}}</label>
			<br />
			<span class="parameter-dates">{{description.beginPosition}} to {{description.endPosition}}</span>
		</div>
	</script>
	{% endverbatim %}
{% endblock %}

{% block page_content %}
	<h2>{{ site.site_name }} - {{ site.river_mile }} {{ site.river_side }}</h2>
	<div id="page-loading-div" class="loading-div">
		<span>Loading...</span><br /><img src="{{ STATIC_URL }}images/ajax-loader.gif" alt=""/>
	</div>
	<div id="site-page-content" style="display: none;">
		<div class="col-md-4">
			<div id="parameter-selection-div" class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Parameters</h4>
				</div>
				<form>
				<div class="panel-body">
					<div id="parameter-checkbox-div"></div>
					<div class="parameter-group">
						<label for="start-date">From:&nbsp;</label>
						<input type="date" id="start-date" />
					</div>
					 <div class="parameter-group">
						<label for="end-date">To:&nbsp;</label>
						<input type="date" id="end-date"/>
					</div>
					<div class="parameter-group">
						<label for="ds-min">Minimum Discharge:&nbsp;</label>
						<input type="text" id="ds-min"/>
					</div>
					<div class="parameter-group">
						<label for="ds-max">Maximum Discharge:&nbsp;</label>
						<input type="text" id="ds-max"/>
					</div>
					<button id="update-plots-button" type="button" class="btn btn-primary btn-block">Update Plots</button>
					<div id="parameter-errors" class="alert alert-danger" style="display: none;"></div>
				</div>
				</form>
			</div>
		</div>
		<div class="col-md-8">
			<div id="graphs-panel-div" class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Plots</h4>
				</div>
				<div id="graphs-div" class="panel-body">
					<div id="graphs-loading-div" class="loading-div well" style="display: none;"><span>Loading...</span><br /><img src="{{ STATIC_URL }}images/ajax-loader.gif" alt=""/></div>
					<div id="cumulSandLoad-graph-div" class="graph-div"></div>
					<div id="discharge-graph-div" class="graph-div"></div>
					<div id="timeseries-plot" class="graph-div"></div>
				</div>
			</div>		
		</div>
	</div>
	<div>
	</div>
	
	<!-- {% js "js/TimeSeriesPlots.js" %} -->
	
{% endblock %}