{% extends "base.html" %}

{% load js %}

{% block title %}Sandbar - {{ site.site_name }}{% endblock %}

{% block page_description %}
	Provides data and plotting tools for sandbar {{ site.site_name }} located at 
	river mile {{ site.river_mile }}
{% endblock %}

{% block page_style %}
	{% css "css/sandbar_custom.css" %}
{% endblock %}

{% block page_script %}
	<script type="text/javascript">
		var SB = {};
		SB.GDAWS_SERVICE = '{% url "surveys-gdaws" op="" %}';
		SB.GDAWS_SERVICE = SB.GDAWS_SERVICE.slice(0, SB.GDAWS_SERVICE.length - 1);
	</script>
	
 	{% js "lib/modernizr.custom.45705.js" %}
	{% js "lib/webshims-stable/js-webshim/minified/polyfiller.js" %}
	{% js "lib/dygraph-combined.js" %}
	{% js "lib/jquery-validation-1.11.1/dist/jquery.validate.min.js" %}"
	
	{% js "js/Config.js" %}
	{% js "js/DateRange.js" %}
	{% js "js/GDAWSFormatUtils.js" %}
	{% js "js/SitePlots.js" %}
	
	<script type="text/javascript">
		$.webshims.polyfill();		
				
		$(document).ready(function() {
			var dateRange = new SB.DateRange($('#start-date'), $('#end-date'));
						
			// Initialize dygraphs
			var sitePlots = new SB.SitePlots('graphs-div', "{{ site.gdaws_site_id }}");
			
			$('#update-plots-button').click(function(event) {
				if ($('form').valid()) {
					var params = [];
					$('#parameter-selection-div input:checked').each(function() {
						params.push($(this).attr('name'));
					});
					sitePlots.updatePlots(dateRange.startEl.val(), dateRange.endEl.val(), params);
				}
			});
			$('form').validate({
				onsubmit: false,
				errorPlacement: function(error, element) {
					error.appendTo(element.parent());
				}
			});
		});
	</script>
{% endblock %}

{% block page_content %}
	<h2>{{ site.site_name }} - {{ site.river_mile }} {{ site.river_side }}</h2>
	<div class="col-md-3">
		<div id="parameter-selection-div" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Parameters</h4>
			</div>
			<form>
			<div class="panel-body">
				<div class="parameter-group">
					<input id="sand-cumul-load-checkbox" name="cumulSandLoad" type="checkbox" value="Sand Cumul Load" />
					<label for="sand-cumul-load-checkbox">Cumulative Sand Load</label>			
				</div>
				<div class="parameter-group">
					<input id="discharge-checkbox"type="checkbox" name="discharge" value="Discharge" />
					<label for="discharge-checkbox">Discharge</label>			
				</div>
				<div class="parameter-group">
					<label for="start-date">From:&nbsp;</label>
					<input type="date" id="start-date" />
				</div>
				 <div class="parameter-group">
					<label for="end-date">To:&nbsp;</label>
					<input type="date" id="end-date"/>
				</div>
				<button id="update-plots-button" type="button" class="btn btn-primary btn-block">Update Plots</button>
			</div>
			</form>
		</div>
	</div>
	<div class="col-md-9">
		<div id="graphs-panel-div" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Plots</h4>
			</div>
			<div id="graphs-div" class="panel-body">
				<div id="loading-div" class="well" style="display: none;"><span>Loading...</span><br /><img src="{{ STATIC_URL }}images/ajax-loader.gif" alt=""/></div>
				<div id="cumulSandLoad-graph-div" class="graph-div"></div>
				<div id="discharge-graph-div" class="graph-div"></div>
			</div>
		</div>		
	</div>
{% endblock %}