#sites-map {
	height: 400px;
	width: 100%;
}
.parameter-group {
	margin: 4px;
}
#graphs-div {
	position: relative;
}
#loading-div {

}
.dygraph-legend {
	text-align: left!important;
}
.graph-div {
	width: 100%!important;
}
input[type=date] {
	width: 160px;
}
